@font-face {
	font-family: "Splatoon";
	src: url(font/Splatoon1.otf) format("opentype");
} /*my eigen font ge-add*/

* {
	margin: 0%;
	padding: 0%;
} /* zodat alles in mijn site geen padding of margin heeft */

body {
	padding: 0%;
	margin: 0%;
	font-family: "Splatoon";
	font-size: 10px;
	color: white;
	background-image: url("afbeelding/splatoonbackground.png");
	background-size: cover;
}

/* header*/
.header {
	background-color: black;
}

.profile {
	display: flex;
	justify-content: center;
	animation: loadheader;
	animation-duration: 1s;
	animation-timing-function: ease;
}
img {
	width: 200px;
	margin-top: 20px;
	margin-bottom: 20px;
	border: 5px solid white;
	border-radius: 5px;
}

h1 {
	font-size: 50px;
	margin-top: 20px;
	margin-left: 30px;
}

.Boy {
	color: yellow;
}

.status,
.studies {
	color: lightgrey;
	margin-left: 30px;
}

.status {
	font-size: 25px;
}

@keyframes loadheader{
	from {
		opacity: 0;
		transform: translateX(-200px);
	}

	to {
		opacity: 1;
		transform: translateX(0);
	}
}

/*main*/
.main {
	margin: 50px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-auto-rows: minmax(10px, auto);
	animation: Loadtext;
	animation-duration: 1s;
	animation-timing-function: ease;
}

h2{
	color: yellow;
	font-size: 20px;
}

@keyframes loadtext{
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}