@font-face {
	font-family: "Splatoon";
	src: url(font/Splatoon1.otf) format("opentype");
} /*my eigen font ge-add*/

* {
	margin: 0%;
	padding: 0%;
} /* zodat alles in mijn site geen padding of margin heeft */

body {
	padding: 0%;
	margin: 0%;
	font-family: "Splatoon";
	font-size: 15px;
	color: white;
	background-image: url("afbeelding/splatoonbackground.png");
	background-size: cover;
}

/* header*/
.header {
	background-color: black;
}

.profile {
	display: flex;
	justify-content: center;
	animation: loadheader;
	animation-duration: 1s;
	animation-timing-function: ease;
}
.inklingBoy {
	width: 200px;
	margin-top: 20px;
	margin-bottom: 20px;
	border: 5px solid white;
	border-radius: 5px;
}

h1 {
	font-size: 50px;
	margin-top: 20px;
	margin-left: 30px;
}

.Boy {
	color: yellow;
}

.status,
.studies {
	color: lightgrey;
	margin-left: 30px;
}

.status {
	font-size: 25px;
}

@keyframes loadheader {
	from {
		opacity: 0;
		transform: translateX(-200px);
	}

	to {
		opacity: 1;
		transform: translateX(0);
	}
}

/*nav*/
.nav {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	background-image: url(afbeelding/pattern.jpg);
	position: sticky;
	top: 0px;

}
.middle-nav {
	grid-column: 2/3;
	display: flex;
	justify-content: center;
	margin: 5px;
}

.about,
.skills,
.experience {
	color: white;
	background-color: grey;
	padding: 5px;
	margin: 5px;
	transition: background-color 0.5s;
}

a:hover {
	background-color: black;
}

/*main*/
.main {
	margin: 50px;
	display: grid;
	grid-template-columns: 300px repeat(2, 1fr);
	/*grid-template-columns: repeat(3, 1fr); */
	grid-template-rows: 75px minmax(200px, auto);
	gap: 50px;
	animation: loadtext;
	animation-duration: 1s;
	animation-timing-function: ease;
}

h2 {
	color: yellow;
	font-size: 30px;
	grid-column: 1/2;
	grid-row: 1/2;
	padding-left: 100px;
}

.MoreAboutHim {
	grid-column: 2/3;
	grid-row: 2/3;

}

li {
	margin-bottom: 50px;
}

.Inkopolis {
	width: 500px;
	grid-column: 3 / 4;
	grid-row: 2/3;
	margin-top: 150px;
	margin-left: 60px;
}

.art1 {
	width: 400px;
	grid-column: 3 / 4;
	grid-row: 2/3;
	margin-top: 70px;
	margin-left: 80px;

}

.art2 {
	width: 400px;
	grid-column: 3/4;
	grid-row: 2/3;
	margin-top: 400px;
	margin-left: 80px;
}

.art3 {
	width: 300px;
	grid-column: 3/4;
	grid-row: 2/3;
	margin-top: 20px;
	margin-left: 90px;
}

.art4{
	width: 400px;
	grid-column: 3/4;
	grid-row: 2/3;
	margin-top: 550px;
	margin-left: 50px;
}

@keyframes loadtext {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

img{
	display: inline-block;
	transition: transform 0.5s;
}
img:hover {
	transform: translateY(-10px);
}
/*footer*/
.footer {
	background-image: url(afbeelding/pattern.jpg);
	font-size: 13px;
	padding: 10px;
}
